<div class="wrapper" style="height: auto; min-height: 100%;">

  <app-header></app-header>

  <app-aside></app-aside>

  <div class="content-wrapper" style="min-height: 901px;">

    <section class="content">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </section>

  </div>

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>App teste</strong> Angular Application
    </div>
  </footer>
</div>