<div class="form-group" [class.has-success]="hasSuccess()" [class.has-error]="hasError()">
  <label class="control-label">{{ label }}</label>

  <ng-content></ng-content>
  <!-- <select ngModel required name="categoria" class="form-control" #categoria>
    <option [value]="category.id" *ngFor="let category of categories">{{category.name}}</option>
  </select> -->

  <span class="help-block" *ngIf="hasSuccess()">
    <i class="fa fa-check"></i> Ok</span>
  <span class="help-block" *ngIf="hasError()">
    <i class="fa fa-remove"></i> {{ errorMessage }}</span>
</div>